{% extends "base.html" %}

{% block content %}
{% from 'bootstrap5/form.html' import render_form %}
    <header class="flex-grow-1 d-flex align-items-center py-5 mt-5">
        <div class="container-xl px-4 px-md-5 py-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h1 class="display-4 fw-bolder lh-1 text-dark mb-4">
                        Get in Touch
                    </h1>
                    <div class="card border border-light-subtle shadow-sm rounded-4 p-4 p-md-5 bg-white">
                        {{ render_form(form, button_style="primary fw-bold w-100 py-3 rounded-3") }}
                        
                    </div>
                    <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center">
                        
{% endblock %}                       