{% extends "base.html" %}

{% block content %}
    <header class="flex-grow-1 d-flex align-items-center py-5 mt-5">
        <div class="container-xl px-4 px-md-5 py-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h1 class="display-4 fw-bolder lh-1 text-dark mb-4">
                        Get in Touch
                    </h1>
                    <p class="lead text-secondary mx-auto mb-4" style="max-width: 600px;">
                        Whether you have a question, want to collaborate, or just want to say hello, feel free to reach out!
                    </p>
                    <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center">
                        
{% endblock %}                       